.chat {
    flex-direction: column;
    flex: .65;
    display: flex;

}

.chat-header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat-header-info {
    flex: 1;
    padding-left: 20px;
}

.chat-header-info>h3 {
    /* font-size: 16px; */
    margin-bottom: 3px;
    font-weight: 500;
}

.chat-header-info>p {
    color: gray;
}

.chat-body {
    background-image: url("https://w0.peakpx.com/wallpaper/763/993/HD-wallpaper-whatsapp-g-background-doodle-pattern-patterns.jpg");

    /* background-image: url("https://w0.peakpx.com/wallpaper/557/521/HD-wallpaper-whatsapp-v-background-doodle-pattern-patterns-whatsapp.jpg"); */

    flex: 1;
    /* background-repeat: repeat; */
    /* background-position: center; */
    /* overflow: scroll; */
    padding: 30px;
    overflow-y: scroll;
}

.chat-message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.chat-timestap {
    margin-left: 10px;
    font-size: xx-small;
}

.chat-name {
    position: absolute;
    top: -15px;
    font-weight: 500;
    font-size: small;
    color: white;
}

.chat-receive {
    margin-left: auto;
    background-color: #dcf8c8;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.chat-footer>form {
    flex: 1;
    display: flex;
}

.chat-footer>form>input {
    border: none;
    /* outline-width: 0; */
    border-radius: 30px;
    padding: 10px;
    flex: 1;
}

.chat-footer>form>button {
    border: none;
}

.chat-footer>.MuiSvgIcon-root {
    color: gray;
    padding: 5px;
}

.chat-footer>form>button>.MuiSvgIcon-root {
    color: gray;
    padding: 5px;
}

/* .chat-footer>form>button {
    display: none;
} */

@media (max-width: 412px) {
    .chat-header-info {
        flex: 1;
    }

    .chat-header {
        background-color: #ededed;
    }

    .chat {
        flex: .9;
    }

    .chat-footer {
        background-color: #ededed;
    }
}