/* .app {
  background-color: #dadbd3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  /* background-color: black; */

}

.app__body {
  background-color: #ededed;
  /* background-color: black; */
  display: flex;
  height: 95vh;
  width: 97vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

/* @media (max-width: 412px) {
  .app__body {
    height: 100vh;
    width: 150vw;
  }

  .app {
    place-items: inherit;
    width: 150vw;
    height: 100vh;
  }
} */

@media (max-width: 412px) {
  .app__body {
    height: 150vh;
    width: 150vw;
  }

  .app {
    place-items: inherit;
    width: 150vw;
    height: 150vh;
  }
}